@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Olympus Mons Electronic Shop<br />
    Olympus Mons, Mars 0000-00001<br />
    <abbr title="Phone">P:</abbr>
    0120-312-777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@marsisflat.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@marsisflat.com</a>
</address>