@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Olympus Mons - Electronic Shop</h1>
    <p class="lead">Olympus Mons - Electronic Shop is the best place to buy your electronic stuff!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Log in and get it!</h2>
        <p>
            If you are here for the first time you should first register and after that you can easly buy whatever you want!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our history</h2>
        <p>We dont have history. We just opened a shop yesterday on Olympus Mons. That is all.</p>
    </div>
</div>